[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=3.0"
flask-migrate = "~=4.0"
flask-sqlalchemy = "~=3.1"
Werkzeug = "~=3.0"
pytest = "~=8.0"
ipdb = "~=0.13"
importlib-metadata = "~=8.0"
importlib-resources = "~=6.0"
Faker = "~=14.2"
sqlalchemy-serializer = "*"
sqlalchemy = ">=2.0.36"

[requires]
python_full_version = "3.13.1"

[dev-packages]
